# Practice questions Midterm 2

In [ ]:
import numpy as np
import pandas as pd

### Q1 What will be the output of the following?

```
a = np.array([1,2,3])
a_ser = pd.Series(a)
1 in a_ser
```

Options:
- Throw an error
- False
- True
- np.array([False, True, False])

In [ ]:
a = np.array([1,2,3])
a_ser = pd.Series(a)
1 in a_ser

### Q2

What will be the output of the following?

```
a_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
pd.Series(a_dict, index=['a', 'b', 'c', 'd', 'e'])
```
```text
Options

- Throw an error
  
- a    1.0
  b    2.0
  c    3.0
  d    4.0
  dtype: float64

- a    1.0
  b    2.0
  c    3.0
  d    4.0
  e    NaN
  dtype: float64

- a    1
  b    2
  c    3
  d    4
  dtype: int64

```

### Q3
What is the output of `a % 5 == 0` in the following code block?

```
a = pd.Series([5, 10, 17, 20])
a % 5 == 0
```

```text
Options

- True
- False
- 0     True
  1     True
  2    False
  3     True
  dtype: bool
- Throw an error

In [ ]:
# both boolean masking and integer masking work with pandas series

### Q4

What is the output of `np.square(a)` ?

```
a = pd.Series([5, 10, 17, 20])
np.square(a)
```
```text
Options:

- Throw an error
- 0     25
  1    100
  2    289
  3    400
  dtype: int64
- 0     5
  1    10
  2    17
  3    20
dtype: int64
- None
```

### Q5

What will be the output of `a.iloc[:3:2]`?

```
a = pd.Series(
    [2, 4, 6, 8, 10], 
    index=['BRCA1', 'KRAS', 'HRAS', 'TP53', 'PTEN']
)
a.iloc[:3:2]
```
```text
Options:
- array(['BRCA1', 'HRAS'], dtype='<U5')
- BRCA1    2
  HRAS     6
  dtype: int64
- array(['BRCA1', 'KRAS', 'HRAS'], dtype='<U5')
- BRCA1    2
  KRAS     4
  HRAS     6
  dtype: int64
```

### Q6

What is `d_ser`?

```
d = {'a': 1, 'b': 2, 'c': 3}
d_ser = pd.Series(data=d, index=['x', 'y', 'z'])
```

```text
Options:
- Throw an error
- a   1.0
  b   2.0
  c   3.0
dtype: float64
- x   NaN
  y   NaN
  z   NaN
  dtype: float64
- a   1.0
  b   2.0
  c   3.0
  x   NaN
  y   NaN
  z   NaN
  dtype: float64
```

### Q7

What is `s.loc['a']`?

```
s = pd.Series([2, 4, 5], index=['a', 'b', 'c'])
s.loc['a'] = 10
```

```text
Options:
- 10
- 2
- Throw an error
- None
```

In [ ]:
s = pd.Series([2, 4, 5], index=['a', 'b', 'c'])

In [ ]:
s

In [ ]:
s.loc[['a', 'b']]

In [ ]:
s > 2

In [ ]:
s.loc[[False, True, True]]

### Q8

What is the shape of `df`?

```
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(d)
df.shape
```

```text
Options:
- (2, 3)
- (3, 2)
- (1, 3)
- (3, 1)
```

### Q9

what is `df.columns`?

```
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(d, index=['a', 'b', 'c'], columns=['c1', 'c2'])
```

```text
Options:
- Index(['a', 'b', 'c'], dtype='object')
- Index([0, 1, 2], dtype='object')
- Index(['col1', 'col2'], dtype='object')
- Index(['c1', 'c2'], dtype='object')
```

### Q10

What is `df.iloc[0, 1]`?

```
d = {'col1': [1, 2, 3, 4], 'col2': [4, 5, 6, 7]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df.iloc[0, 1]
```

```text
Options
- 1
- 3
- 4
- 2
```

In [ ]:
d = {'col1': [1, 2, 3, 4], 'col2': [4, 5, 6, 7]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

In [ ]:
df

In [ ]:
df.loc['a']

In [ ]:
df.loc['a']['col1']

In [ ]:
df.loc[['a', 'b']]['col1']

In [ ]:
df.loc['a': 'd']['col1']

In [ ]:
df.at['a', 'col1']

In [ ]:
df.iloc[0, 1]

In [ ]:
df.iloc[:2]

In [ ]:
# above is same as
df.loc['a': 'b']

In [ ]:
df.iloc[:2]['col1']

In [ ]:
df.loc['a': 'b']['col1']

In [ ]:
df.iloc[:2, 1]

In [ ]:
df['col1'] > 2

In [ ]:
s = df['col1']
s.loc[s > 2]

In [ ]:
s.iloc[-2:]

### Q11

What is the output of the following?

```
d = {'col1': [1, 2, 3, 4], 'col2': [4, 5, 6, 7]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df.apply(np.sum, axis=0)
```

```text
Options:
- col1    10
  col2    22
  dtype: int64
- a     5
  b     7
  c     9
  d    11
  dtype: int64
- None of the above
- Throw an error
```

### Q12

What is the output of `df.agg('mean', axis=1)`?

```
d = {
    'a': [1,2],
    'b': [4,5],
    'c': [7,8]
}
df = pd.DataFrame(d)
df.agg('mean', axis=1)
```

```text
Options:
- a    1.5
  b    4.5
  c    7.5
dtype: float64
- 0    4.0
  1    5.0
  dtype: float64
- Throw an error
- None of the above
```

### Q13

How many groups will be there in `g`?

```
d = {
    'I_like_python': ['very much', 'very much', 'not very much', 'hate it'],
    'students': ['a', 'b', 'c', 'd']
}
df = pd.DataFrame(d)
g = df.groupby('I_like_python').groups
```

```text
Options:
- 3
- 2
- 4
- 0
```

### Q14

What is the output of the following?

```
d1 = pd.DataFrame({
    'a': [1,2],
    'b': [3,4],
    'c': [5,6]
})
d2 = pd.DataFrame({
    'a': [7,8],
    'b': [9,10],
    'c': [11,12]
})
pd.concat([d1, d2])
```

```text
Options

-       a	b	c
0	1	3	5
1	2	4	6
0	7	9	11
1	8	10	12



-       a	b	c	a	b	c
0	1	3	5	7	9	11
1	2	4	6	8	10	12


- Throw an error


-      a	b	c
0	1	3	5
1	2	4	6
2	7	9	11
3	8	10	12
```

### Q15

What will be the shape of the df after pd.merge command?

```
d1 = pd.DataFrame({
    'a': [1,2],
    'b': [3,4],
    'e': [6, 7]
    })

d2 = pd.DataFrame({
    'c': [1,2],
    'd': [3,4],
    'e': [8,9]
    })

pd.merge(d1, d2, how='outer')
```

```text
Options:
- (4, 5)
- (5, 4)
- (2, 5)
- (5, 2)
```